@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");

body {
  color: white;
  background: linear-gradient(black, #154360);
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.2em;
}
